.div-pin{
    width: 100wv;
    height:auto;
    display: flex;
    flex-wrap: wrap;
}

.small {
    height: 180px;
  }
  .medium {
    height: 280px;
  }
  .large {
    height: 400px;
  }
  
  .clickable-pin img {
    border: 1px solid rgba(231, 219, 220, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }

