#modal-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255, 194, 204, 0.5);
}

#modal-follow-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#modal-follow-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center; 
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  width: fit-content; /* Adjust width as needed */
  min-width:100px;
  min-height: 300px;
  max-height: 320px;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
