.info-picture {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.informations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  height: 150px;
  width: 150px;
  border-radius: 180px;
  border: none;
  background-color: rgb(69, 83, 108);
  font-size: 100px;
  color: white;
}

.user-name,
.input-email {
  font-size: 45px;
  border: none;
  margin-top: 10px;
  background-color: white;
  position: relative;
  text-align: center;
}

.input-email {
  font-size: 15px;
  color: lightgray;
}

.edit {
  margin-top: 10px;
  padding: 10px 10px;
  border: none;
  border-radius: 25px;
  background-color: blue;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.plus-btn {
  display: flex;
  justify-content: end;
}

.fa-plus {
  border: none;
  background-color: none;
  border-radius: 25px;
  margin-right: 25px;
}

.fa-plus:hover {
  cursor: pointer;
}

.div-pins {
  border-top: 1px solid lightgray;
}

.unorganized_ideas {
  margin-top: 5px;
}

.unorganized_ideas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin: 20px;
}

.unorganized_ideas label {
  color: white;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 40%;
}
.loading i {
  font-size: 100px;
}

.following-btn {
  border-radius: 25px;
  margin-left: 3px;
}
.follows-div {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.follows-div a {
  text-decoration: none;
}

.follow-btn-div {
  margin-left: 10px;
}

.username-btn {
  border-radius: 20px;
  border: 1px solid lightgray;
  margin-right: 5px;
  width: fit-content;
  padding: 3px 3px;
  text-align: center;
}

.follow {
  background-color: red;
  color: white;
}

/* Define the styles for the Following button */
.following {
  background-color: blue;
  color: white;
}

.image-pin-upload {
  cursor: pointer;
  height: 50vh;
  width: 100%;
  left: 0px;
  top: 0px;
  font-size: 0px;
  background: rgb(234, 233, 233);
  border-radius: 30px;
}

.div-upload-save {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 30%;
}
