.boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.my-div {
  display: flex;
  flex-direction: column;
}
.board-container {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 150px;
  margin: 15px;
  border-radius: 20px;
}
.vertical-divs {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.div-vert1 {
  margin: 2px;
  border-radius: 1px solid;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  background-color: rgba(56, 51, 51, 0.2);
  overflow: hidden;
}
.div-vert2 {
  margin: 2px;
  border-radius: 1px solid;
  width: 100%;
  height: 50%;
  background-color: rgba(56, 51, 51, 0.2);
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.horizontal-div {
  margin: 2px 3px;
  margin-right: 2px;
  width: 50%;
  height: 96%;
  background-color: rgba(56, 51, 51, 0.2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.title-board {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: rgb(6, 6, 6, 0.2);
}

.div-img {
  /* display: block; */
  width: 100%;
  height: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: rgb(6, 6, 6, 0.2);
}

.title-board label {
  font-size: 20px;
  color: rgb(147, 134, 134);
}

.small {
  height: 180px;
}
.medium {
  height: 280px;
}
.large {
  height: 400px;
}

.clickable-pin img {
  border: 1px solid rgb(244, 218, 222, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.title-selected-board {
  color: rgb(124, 113, 113);
}
