.profile-dropdown {
  position: absolute;
  margin: 10px;
}

.navbar {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.nav-right {
  display: flex;
  justify-content: space-around;
}
.navbar img {
  width: 100px;
  height: 75px;
  margin-right: 0;
}
.pin {
  width: 150px;
  height: 75px;
  margin-left: 0;
}

.loginButton {
  margin-right: 10px;
  padding: 5px 5px;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 40px;
  background-color: red;
  font-size: 16px;
  color: white;
  width: 80px;
  height: 50px;
}

.signupButton {
  padding: 5px 5px;
  text-decoration: none;
  border: 1px solid lightgray;
  border-radius: 40px;
  background-color: lightgray;
  font-size: 16px;
  color: black;
  font-weight: bold;
  width: 80px;
  height: 50px;
}

.nav-user {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.search-bar {
  width: 850px;
  height: 40px;
  border-radius: 25px;
  background-color: lightgray;
}
.btn {
  border-radius: 20px;
  height: 50px;
  width: 65px;
  border: none;
  background: none;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 16px;
}
.nav-user img {
  margin-top: 0;
  height: 50px;
  color: gray;
}

.home-btn {
  color: white;
  background-color: black;
  padding: 5px;
}

.btn:hover {
  cursor: pointer;
  background-color: lightgray;
}
.profile-btn {
  border: gray;
  background-color: rgb(71, 69, 69);
  border-radius: 40px;
  color: white;
  height: 35px;
  width: 35px;
  margin-top: 7px;
}

.notification-btn,
.message-btn {
  color: rgb(71, 69, 69);
  height: 35px;
  width: 35px;
  border-radius: 40px;
  margin-top: 7px;
}

.nav-prof {
  z-index: 1;
}
